@import 'node_modules/bootstrap/scss/bootstrap';

a {
    color: inherit;
    text-decoration: none;
}

// hover


// general
img {
    max-width: 100%;
}

body {
    background-color: rgb(48, 48, 48);
}

// ALL
.wrapper {
    display: flex;
    justify-content: center;

    .container {

        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow-y: auto;

        &.btn.card.record.px-4.py-3.my-4 {
            max-width: 750px;
        }
    }

}